/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  font-family: "Exo BNNVARA", Verdana, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: black;
  /* opacity: 0.2; */
}

ul{
  list-style-type: none;
}

footer{
  color: "#"
}

iframe{
  width: 500px;
  height: 315px;
}

header. ul {
  
}