/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* algemene styling */ 
html body{
  height: 100%;
}

body {
  font-family: "Exo BNNVARA", Verdana, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

ul{
  list-style-type: none;
  text-decoration: none;
}

h3{
  font-size: 16px;
}

/* header */
header{
  margin: 0;
  color: white;
  background-image: url('../images/headerimage.jpeg');
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
} 

header div{
  position: absolute;
  bottom: 0px;
  margin: 20px;
}

header div h1{
  Font-size: 20px;
}

/* header nav*/

nav ul {
  display: flex;
  gap: 1em;
  padding: 0;
}

nav ul:nth-of-type(1) li:nth-of-type(2) {
  Margin-right: auto;
}

header nav li a img{
  width: 20px;
}

header nav li:nth-child(1) a img{
  width: 50px;
}

nav{
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.500);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

header div img{
  position: relative;
  z-index: -1;
}

/* header buttons */
header div ul{
  display: flex;
  gap: 1em;
  padding: 0;
  flex-direction: column;
}

header div li:nth-of-type(1){
  background-color: red;
  padding: 0.6em;
  width: 130px;
  text-align: center;
}

header div li:nth-of-type(1) a{
  text-decoration: none;
  color: white;
}

header div li:nth-of-type(2){
  padding: 0.6em;
  border-style: solid;
  border-color: white;
  width: 130px;
  text-align: center;
}

header div li:nth-of-type(2) a{
  text-decoration: none;
  color: white;
}

/* main */
main{
  background-color: #f5f4f4;
}

.bodymargin{
  margin-left: 5%;
  margin-right: 5%;
}

main section:nth-of-type(1){
  background-color: rgb(16, 16, 16);
}

main section:nth-of-type(1) h2{
color: white;
}

main section:nth-of-type(2) p{
  text-align: center;
  background-color: green;
}

main div article img {
  width: 100%;
}

/* main grootte lettertype*/
main article h2{
  font-size: 20px;
}

main article p{
  font-size: 14px;
} 

/* styling section*/
section{
  padding: 0em;
  margin: 0;
}

main section article{
  background-color: white;
}

section ul li article{
  height: 17em;
}

section ul li article img {
  width: 100%;
}

/* plaatjes in de section*/ 
main section article img{
  width: 100px;
}

/* flexbox gedeelte BNNVARA */
main section ul{
  display: flex;
  overflow-x: auto;
  gap: 5%;
  scroll-snap-type: x mandatory;
  padding-left: 5%;
}

main section ul li{
  flex-basis: 45%;
  flex-shrink: 0;
}

main section ul li article {
  display: flex;
  flex-direction: column;
}

main section ul li article h3{
  order: 1;
  flex-grow: 1;
}

main section ul li article p{
  order: 2;
}
main section ul li article img{
  order: 0;
}

/* main 2e pagina */ 
iframe{
  width: 500px;
  height: 315px;
}

/* footer */ 
footer{
  color: white;
  background-color: rgb(230, 0, 0);
}

/* ANBI foto */

footer img{
  width: 40%;
}

footer li img{
  width: 25px;
}

/* social media iconen footer*/
footer section ul{
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

footer section ul li{
  border-style: solid;
  border-width: 0.04em;
  border-color: white;
  flex-basis: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section ul li a{
  margin: 0.5em;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

footer div:nth-of-type(3) ul{
  display: flex;
  gap: 1em;
}

footer div:nth-of-type(3) ul li img{
  margin: 0.3em;
}

footer div:nth-of-type(3) ul li{
  border-style: solid;
  border-width: 0.02em;
  border-color: white;
}


/* responsinve tablet */
@media (min-width: 550px) {
 
  header{
    height: 400px;
  }

  header div ul{
    display: flex;
    gap: 1.5em;
    padding: 0;
    flex-direction: row;
  }

  main article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  main section ul li{
    flex-basis: 27%;
    flex-shrink: 0;
  }
  
  main section ul li article {
    flex-direction: row;
  }
}


/* responsive desktop */ 
@media (min-width: 1000px) {
  header{
    height: 400px;
  }

  .bodymargin{
    margin-left: 15%;
    margin-right: 15%;
  }

}
